<ul class="messages">
  {{#each messages as |message|}}
    <li>
      <div class="sender">{{message.sender}}</div>
      <div class="content">{{message.content}}&#8203;</div>
    </li>
  {{/each}}
</ul>

<form {{action 'send' on='submit'}}>
  {{input value=newMessage placeholder="Say something…"}}
  <input type="submit" value="→">
</form>
